*body{
    margin: 0;
    padding: 0;
}

.header-style{
    background-color: black;
    width: 1500px;
    height: 600px;
    background-image: url('photo/Banner\ Image.png');
    margin:50px auto;
    border-radius: 16px;

}
/* headding1-style */
.headding1{
    color: #000000;
      
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}

/* headding2-style */
.headding2{
    margin: auto auto;
    width: 500px;
    color: #000000;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.main-h3{
    color: #f00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

.main-h4{
    color: #f00;
    text-align:center;
    font-size: 24px;
    font-weight: 500px;
    padding-top: 0;
}

.main-h5{
    color: #000000;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 5px;
}
.main-div1{
    width: 802.9px;
    height: 500px;
    background-image: url(photo/New\ Year\ Photo.png);
    margin: 15px auto;
}

.main-div2{
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-image: url(photo/Vectorrr.png);
    margin: 50px auto;
}
.clum-div1{
    width: 500px;
    height: 200px;
    padding-top: 50px;
    padding-left: 70px;
}

.clum-div-title{
    color: #fff;
    font-size:64px;
    font-weight: 900;
}
.main-p1{
    color: rgba(255, 255, 255, 0.80);
    font-size: 25px;
    font-weight: 400px;
}
.main-button1{
    font-size: 30px;
    color: #fff;
    text-align: center;
    background-color: #000000;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 30px;
}
.main-button1:hover{
    background-color: #212020;
}

.main-div2{
    display: flex;
}
.image-div{
    margin-left: 250px;
    margin-top: 50px;
}

section{
    width: 1320px;
    height: 482px;
    background-color: rgb(247, 239, 228);
    margin: 30px auto;
}

.section-div1{
    width: 1320px;
    height: 482px;
    text-align:center;
    padding-top: 50px;
    margin-top: 80px;
}
.section-div1,h2{
    font-size: 32px;
    font-weight: 600;
}
span{
    color: #f00;
}
.section-button1{
    background-color: #f00;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 30px;
    font-weight: bold;
}
.section-button1:hover{
    background-color: rgb(220, 49, 49);
}
#section{
    width: 1320px;
    height: 482px;
    background-color: #f9eded;
    margin-top: 50px;
}
.id-section-div{
    width: 250px;
    height: 500px;
    margin-left: 1000px;
    padding-top: 80px;
}
.id-h2{
    color: #f00;
    font-size: 48px;
    font-weight: 700;
}
.di-section-p1{
    color: #333232;
    font-size: 20px;
    font-weight: 400;
}
.section2{
    padding: 100px;
    display: flex;
}
.section-div2{
    width: 400px;
    margin-top: 100px;
}
.section2-div3{
    width: 300px;
    margin-top: 50px;
    padding: 50px;
}
.image1{
    margin: 15px;
}

.section2-h21{
    color: #f00;
    font-size: 24px;
    font-weight: 500px;
    padding-bottom: 0;
}
.section2-h31{
    color: #000000;
    font-size: 50px;
    font-weight: 900px;
    text-transform: capitalize;
    padding-top: 0;
}
.section2-p1{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.section2-h22{
    color: #f00;
    font-size: 48px;
    font-weight: 700;
}
.section2-p2{
    color: #212020;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
}
.section-3{
    background-color: #f0e6e6;
}

.section3-div1{
    width: 700px;
    margin: 50px auto;
    text-align: center;
    padding-top: 50px;
}
.section3-h21{
    font-size: 80px;
}
.section3-p1{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}
.section3-h31{
    font-size: 30px;
}

.section-4{
    width: 500px;
    margin-left:650px;
    margin-top: 100px;
}
.section-4-h3-1{
    color: #f00;
    font-size: 24px;
    font-weight: 500px;
}
.section4-h21{
    color: #000000;
    font-size: 48px;
    font-weight: 900;
    text-transform:capitalize
}
.section4-p1{
    color: #333232;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.section-image-main-div{
    display: flex;
    padding: 10px;
    padding-left: 10px;
}

.section-id-div{
    padding-left: 20px;
}
.section-id-div:hover{
    border-style:solid;
    border-color: #f0e6e6;
    border-width: 5px;
    background-size: 300px;
}
.section5{
    width: 1320px;
    height: 650px;
    margin-top: 30%;
}

.section-5-div1{
    width: auto;
    padding-top: 60px;
    margin-left: 570px;
}

.section5-div2{
    width: 500px;
    margin: 50px auto;
}
.section5-h2-1{
    color: #000000;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    text-transform:capitalize;
}

.section5-p-1{
    color: #333232;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
}

.input-section{
    width: 500px;
    height: 72;
    padding: 10px;
    border-radius: 7px;
    background-color: #fff;
    font-size: 25px;
}

.button1{
    width: 200px;
    height: 60px;
    font-size: 25px;
    border-radius: 30px;
    margin: 5px auto;
    background-color: rgb(250, 0, 0);
    font-weight: bold;
}
.button1:hover{
    background-color: rgb(251, 50, 50);
    font-size: 26px;
}
/* footer_style */
.footer-area{
    bottom: 0;
    width: 100%;
    height: 609px;
    background: #070211;
}

.footer-area-p-tag-1{
    color: #fff;
    width: 300px;
    font-size: 24px;
    display: block;
    padding-top: 80px;
    padding-left: 200px;
    position: absolute;
}

.img-1{
    margin-left: 1100px;
    position: relative;
    margin-top: 120px;
}

.img-2{
    margin-top: 5px;
}

.footer-area-h3-1{
    color: #fff;
    display: inline;
}

.img-2{
    margin-left: 1100px;
}
.footer-area-h3-2{
    color: #fff;
    display: inline;
}

.footer-area-div1{
    background-color: #5b5656;
    width: 1320px;
    height: 1px;
    margin: 40px auto;
}
.footer-area-div2{
    margin: 20px auto;
    width: 350px;
    height: 100px;
}

.footer-area-div3-image4{
    padding-left: 10px;
}

.footer-area-div3{
    margin: 20px auto;
    width: 1320px;
    height: 1px;
    background-color:#5b5656;
}